.coursesCard {
  padding: 6vw 0;
}

.coursesCard .items {
  background-image: -webkit-linear-gradient(65deg, #a5dbed 50%, #edeeef 50%);
  padding: 5vw;
  text-align: center;
  width: 80%;
  max-width: 500px;
  margin: auto;
}

.coursesCard .items:hover {
  background-color: rgb(188, 241, 209);
}

.coursesCard .img {
  width: 20%;
  padding: 3vw;
  border-radius: 20%;
  background-color: #1eb2a6;
}

.coursesCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.coursesCard .text {
  margin-left: 3vw;
  text-align: left;
}

.coursesCard .text h1 {
  font-size: 4vw;
  font-weight: 500;
  line-height: 6.75vw;
}

.coursesCard .rate {
  margin: 2vw 0;
  color: #1eb2a6;
}

.coursesCard .rate i {
  font-size: 1.3vw;
  margin-right: 0.5vw;
}

.coursesCard .details .dimg img {
  width: 10%;
  border-radius: 50%;
  margin-right: 4vw;
}

.coursesCard .details .box {
  display: flex;
  align-items: center;
  color: grey;
}

.box {
  padding: 2vw;
  margin: 2vw;
}

.coursesCard .details span {
  color: #1eb2a6;
  font-weight: 500;
  font-size: 2vw;
}

.coursesCard .price {
  margin: 3vw 0;
  background-color: #f8f8f8;
  padding: 1vw;
}

.coursesCard h3 {
  font-weight: 500;
  color: #1eb2a6;
}

/* Online Styles */
.online {
  text-align: center;
}

.online .box {
  box-shadow: 0 5px 25px -2px rgb(0 0 0 / 6%);
  background-color: #fff;
  padding: 6vw 4vw;
  transition: 0.5s;
  margin: 4vw;
}

.online .img {
  width: 30%;
  margin: auto;
  position: relative;
}

.online img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.online h1 {
  font-weight: 500;
  font-size: 4vw;
  margin: 4vw 0;
  line-height: 6vw;
}

.online span {
  background-color: #f8f8f8;
  padding: 1vw 4vw;
  font-weight: 500;
  font-size: 1.5vw;
  color: #1eb2a6;
  border-radius: 0.5vw;
}

.online .box .show {
  opacity: 0;
}

.online .box:hover {
  background-color: #1eb2a6;
  border-radius: 0.5vw;
  cursor: pointer;
}

.online .box:hover .show {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.online .box:hover h1 {
  color: #fff;
}

/* Responsive Styles for Screens Up to 768px */
@media screen and (max-width: 768px) {
  .coursesCard .items {
    width: 90%;
  }
}
